.socialIcons{
    color: blue;
}
.fa-home{
    color: crimson;
}
.fa-camera{
    color: deepskyblue;
    font-size: 5rem;

}
.fa-facebook{
    color: gray;
}
.fa-person-digging{
    color: darkcyan;
    font-size: 10rem;
    display: block;
}
h1{
    color: blue;
    text-shadow: 3px 5px 7px rgba(49, 59, 66, 0.5);
}
.box{
    width: 200px;
    height: 100px;
    background: rgb(235, 235, 235);
    box-shadow: 5px 7px 9px rgba(117,117,117,0.5);
    border-radius: 7px;
    color: rgb(115, 115, 115);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 3px 5px 7px rgba(117,117,117,.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
